

div {
    border: #A9CCE3;
    /** test color background 
#D6EAF8
 #A9CCE3
 #FDEDEC
 #D6EAF8
 #F4F6F7
 #D7DBDD
 #F2F3F4
    */
    background-color: red;
    position: fixed;
    left: 150px;
    height: 81%;
    width: 92%;
    padding:auto;
    border: solid yellow;
  
}

// div for the slider component
#slider{
    border:solid purple;
    width: 100%;
    height: 25%;
    background-color: plum;  
    position:static;
    margin:0;
}

//div for the calendar component
#calendar{
    position:static;
    border: solid orange;
    background-color: blue;
    width : 100%;
    height: 75%;
    margin:0;
}
