/** Body */
/* #18bef0 */
/*rgb(24, 190, 240)*/
/** Fonts */
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

@font-face{
    
    font-family: 'Natsuki';
    src:url('fonts/Natsuki/natsuki.ttf') format('truetype');
    
    font-weight: bold;
    font-style: normal;
}

* {
    box-sizing: border-box;
    transition-duration: 0.3s;
    /** Nav + body colors */
    /** color test background
    #EAF2F8    #AED6F1
    #A9CCE3    #D4E6F1
    #D7DBDD   #7FB3D5
    #D5DBDB

    */
    background-color:#D6DBDF;
}

/** Logo */
strong{
    font-family: 'Natsuki';
    font-size:400%;
    font-weight:bold;
    color:#19B5FE;
}




/** Navigation bar + Menu */

.navbar.navbar-1 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
    padding-bottom: 80px;
}

.navbar{
    padding-top:0;
    padding-bottom: 0;
}

[id="nav-home-tab"]{
    color: #18bef0;
}
[id="nav-profile-tab"]{
    color: #18bef0;
}

/** Nav */

.title {
    background-color: white;
    box-shadow: 0px 10px 5px 0px rgba(24, 190, 240, 0.1);
    text-align: center;
    position: -webkit-sticky;
    top:0;
    position: sticky;
    margin-bottom: 15px;
    z-index: 1;
    
}

[class="form-check form-check-inline"]{
    margin-left: 50px;
}
[type="checkbox"]{

    color:#18bef0;

}

/** entre nav et photo */



.sousNavBar{
    padding-top:5px;
    padding-bottom: 5px;
    background-color: white;
}

/* INPUT Navbar*/
/*  Bouton*/
.navbar-toggler{
    border: none;
    padding: 0;
}
.form-control{
  background-color: rgba(24, 190, 240, 0.1);  
}

[type="submit"]{
    border: 1px solid #18bef0;
    background-color:#18bef0;
}

.sousNavBar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left:0;
    margin-bottom: 5px;
}

.menu {
    list-style: none;
}

.sousNavBar ul li a {
    font-weight: solid;
    color:#18bef0;
}

/* Middle Section */


/* MAIN */

main{
    margin-left: 10%;
    margin-right: 10%;
}

/* Beggining Big Cube Faire CSS identitque */
.bigCube-p-h3-1{
    padding: 50px;
    text-align: right;
}

.bigCube-p-h3-2{
    padding: 50px;
}

/*End Big cube Faire CSS identitque*/


.container-fluid{
    display: flex;
    box-shadow: 1px 1px 8px 15px rgba(24, 190, 240, 0.2);
    border-radius: 8px;
    padding: 8px;
}

section {
    margin-top: 50px;
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}

.grandP h3 {
    padding: 10%;
    padding-bottom: 0;
}

.p-1{padding: 1em;}
.p-2{padding: 2em;}
.p-3{padding: 3em;}
.p-4{padding: 4em;}
.p-5{padding: 5em;}
.br{border: 1px solid red;}

.sectionMilieu div h3 {
    margin: 100px;
    text-align: center;
    padding: 150px;
}

footer {
    background-color: #18bef0 ;
    padding: 50px 0 50px 0px;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    margin: 50px 20px 20px 20px;
    padding-left: 50px;
}
