
/** Body */

* {
    box-sizing: border-box;
    transition-duration: 0.3s;
    /** Nav + body colors */
    /** color test background
    #EAF2F8    #AED6F1
    #A9CCE3    #D4E6F1  #D6EAF8
    #D7DBDD   #7FB3D5
    #D5DBDB     #D5D8DC
    #D6DBDF   #FEF5E7
    #F4F6F7    #AED6F1

    */
    
    font-family: 'Bison-Bold'; 
    font-weight:bold;
    
    
}
/** Fonts */
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

@font-face{
    
    font-family: 'Natsuki';
    src:url('fonts/Natsuki/natsuki.ttf') format('truetype');
    
    font-weight: bold;
    font-style: normal;
}

@font-face{

    font-family: 'Bison-Bold';
    src:url('fonts/Bison/Bison-Bold.ttf') format('truetype');
    
    font-weight: bold;
    font-style: normal;
}

<<<<<<< HEAD
* {
    box-sizing: border-box;
    transition-duration: 0.3s;
    /** Nav + body colors */
    /** color test background
    #EAF2F8    #AED6F1
    #A9CCE3    #D4E6F1
    #D7DBDD   #7FB3D5
    #D5DBDB 
    #D6DBDF   #FEF5E7

    */
    background-color:#F4F6F7;
    font-family: 'Poiret One', cursive; 
    font-weight:bold;
=======
/** ************Colors ******************************** */
/*** ************** Backgrounds **********************/
.title, #galiServices{
    background-color:black;
}
/** Header + Navigation bar */
    /** menu */ /** main */
.categories ul li a, .connexion h3, main, h1{
    text-decoration: none;
    color:#EAF2F8;
    
} 
  /** button */
.navbar-toggler-icon{
    color:#A9CCE3;
>>>>>>> daa2c4210d251a261f73ac47326fee45f1026244
}

/** Logo Gali */
strong, #aboutUs span{
    font-family: 'Natsuki';
    font-size:400%;
    font-weight:bold;
    color:#19B5FE;
}

/** Fonts + Font Size */

    /** Header + Navigation Bar = Logo exclude */
.title{
    font-family: 'Bison-Bold';
    font-size: 150%;
} 

/** Navigation containers */

.navbar{
    padding-top:0;
    padding-bottom:0;
}

/** Navigation bar + Menu */
.navbar{
    padding-top:0;
    padding-bottom: 0;
}

/** Nav */
header{
    width: 100%;
    position:sticky;  
}
    /** connexion top right */
.connexion{
    display:flex;
    
}
.connexion h3{
    padding-right:5px;
}
.connexion button{
    padding-bottom: 8px;
}
.navbar navbar-light navbar-1{
    width: 100%;
    position:sticky;
    padding:0;
}

 /** menu categories */
 .categories{
     height:75%;
 }
 .categories ul{
     width:1200px;
     margin-bottom:25px;
     display:flex;
     justify-content: space-around;
 }

 .menu {
    list-style: none;
}

.title {
    width:100%;
    
    padding:0;
    text-align: center;
    position: -webkit-sticky;
    top:0;
    position: sticky;
    margin:0;
    z-index: 1;
<<<<<<< HEAD
    margin-left: 8%;
    margin-right: 9%;
=======
    display:flex;
    
>>>>>>> daa2c4210d251a261f73ac47326fee45f1026244
    
}

/**Connexion */

#navbarSupportedContent15{
    background-color: #A9CCE3;
    color:#4D5656;
}

[class="form-check form-check-inline"]{
    margin-left: 50px;
}
[type="checkbox"]{

    color:#19B5FE;

}
<<<<<<< HEAD

/** entre nav et photo */

span strong {
    color: #18bef0;
    font-size: 60px;
    padding-left: 100px;
}

span{
    color: #18bef0;
 
    padding:0;
    margin:0;
    font-size: 20px;
}


.sousNavBar{
    padding-top:5px;
    padding-bottom: 5px;
    background-color: white;
=======
#pswd_info{
    display:none;
}
/** radio boxes */
.male, .female{
   display:flex;
   align-items: baseline;        
}
.female{
    margin-left:70px;
}
.gender{
    padding-left:5px;
}
#radio{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin:0;
    padding-top:30px;
>>>>>>> daa2c4210d251a261f73ac47326fee45f1026244
}

/* INPUT Navbar*/
/*  Bouton*/
<<<<<<< HEAD

.form-group{
    text-align: left;
    
}
=======
.navbar.navbar-1 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
    
}
.connexion{
    float:right;
}
>>>>>>> daa2c4210d251a261f73ac47326fee45f1026244
.navbar-toggler{
    border: none;
    padding: 0;
}
.form-control{
  background-color: rgba(24, 190, 240, 0.1);  
}

[type="submit"]{
    border: 1px solid #19B5FE;
    background-color:#19B5FE;
}

/* Middle Section */


/* MAIN */

main{
<<<<<<< HEAD
    margin-left: 10%;
    margin-right: 10%;
=======
    width:100%;
    margin:0;
    position: absolute;
    z-index: -1;
>>>>>>> daa2c4210d251a261f73ac47326fee45f1026244

}

/** first block section */
#aboutUs{
    width:100%;
    height:550px;
    margin:0;
    padding:0;
    background-image: url("../img/salon.jpg");
    display:flex;
    align-items: flex-end;
}
/** text first section */
h1{
    padding-left:20px;
    
}

/** SECOND SECTION */
#galiServices{
    margin:0;
}
#beauty{
    display:flex;  
    padding-left: 60px;
    width:90%;
    justify-content: space-between;
}
.bigCube-p-h3-2{
    width: 100%; 
}
.PicServices{
    display:flex;
    align-items: center;    
}


<<<<<<< HEAD
#galiServices:hover{
    border: vw0.3 solid #d1d1d1;
    box-shadow: 1px 1px 8px 15px rgba(24, 190, 240, 0.2);
   
}
#aboutUs:hover{
    border: vw0.3 solid #d1d1d1;
    box-shadow: 1px 1px 8px 15px rgba(24, 190, 240, 0.2);
   
}
.container-fluid{
    display: flex;
   /* box-shadow: 1px 1px 8px 15px rgba(24, 190, 240, 0.2);*/
    border-radius: 8px;
    padding: 8px;
=======

.left{
    margin-top:25px;
>>>>>>> daa2c4210d251a261f73ac47326fee45f1026244
}
.rightTop{
    margin-right:25px;
}
.PicServices h2, .bigCube-p-h3-2 h3{
    text-align: center;
}
.PicServices h2, .bigCube-p-h3-2 h3{
    padding-top:10px;
}
.left:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
.rightTop img{
    max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.rightTop:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  } 
.rightBottom img{
    max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.rightBottom:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
} 

/** third section  + map*/
#how h1, #how h3, #map h3{
    color: black;
    text-align:center;
}

#map iframe{
    width:100%;
}



<<<<<<< HEAD
footer {
    background-color: #18bef0 ;
    
    box-shadow: 1px 1px 8px 15px rgba(114, 222, 255, 0.6);
    padding: 50px 0 50px 0px;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    margin: 50px 20px 20px 20px;
    padding-left: 50px;
    margin-left: 10%;
    margin-right: 10%;
=======
/** footer*/
#contactUs{
    background-color:black;
    font-size: 30px;
    padding:5px;
}
#contactUs article{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
>>>>>>> daa2c4210d251a261f73ac47326fee45f1026244
}


