/** Body */
/* #18bef0 */
/*rgb(24, 190, 240)*/

/** Fonts */
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

@font-face{
    
    font-family: 'Natsuki';
    src:url('fonts/Natsuki/natsuki.ttf') format('truetype');
    
    font-weight: bold;
    font-style: normal;
}

@font-face{

    font-family: 'Bison-Bold';
    src:url('fonts/Bison/Bison-Bold.ttf') format('truetype');
    
    font-weight: bold;
    font-style: normal;
}

/** Colors */
/** Header + Navigation bar */

/** Logo */
strong{
    font-family: 'Natsuki';
    font-size:400%;
    font-weight:bold;
    color:#19B5FE;
}

/** Fonts + Font Size */

    /** Header + Navigation Bar = Logo exclude */
.title{
    font-family: 'Bison-Bold';
    font-size: 150%;
} 


/** Navigation Bar for the menu */

.categories ul li a{
    text-decoration: none;
    color:#34495E;

}

/** Body */

* {
    box-sizing: border-box;
    transition-duration: 0.3s;
    /** Nav + body colors */
    /** color test background
    #EAF2F8    #AED6F1
    #A9CCE3    #D4E6F1  #D6EAF8
    #D7DBDD   #7FB3D5
    #D5DBDB     #D5D8DC
    #D6DBDF   #FEF5E7
    #F4F6F7    #AED6F1

    */
    background-color:#A9CCE3;
    font-family: 'Bison-Bold'; 
    font-weight:bold;
    color:#5D6D7E;
}






/** Navigation bar + Menu */

.navbar.navbar-1 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
    
}

.navbar{
    padding-top:0;
    padding-bottom: 0;
}



/** Nav */
.navbar navbar-light navbar-1{
    padding:0;
}
 /** menu categories */
 .categories ul{
     width:1200px;
     padding-top: 100px;
     margin-bottom:25px;
     display:flex;
     justify-content: space-around;
 }

.title {
    
    padding:0;
    text-align: center;
    position: -webkit-sticky;
    top:0;
    position: sticky;
    margin:0;
    
    
}

[class="form-check form-check-inline"]{
    margin-left: 50px;
}
[type="checkbox"]{

    color:#18bef0;

}

/** entre nav et photo */








/* INPUT Navbar*/
/*  Bouton*/
.navbar-toggler{
    border: none;
    padding: 0;
}
.form-control{
  background-color: rgba(24, 190, 240, 0.1);  
}

[type="submit"]{
    border: 1px solid #18bef0;
    background-color:#18bef0;
}

.sousNavBar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
   
}

.menu {
    list-style: none;
}

/** menu nav list */

/** test color
#2E86C1     #2874A6

*/
.sousNavBar ul li a {
    font-size: 150%;
    color:#5D6D7E;
    text-decoration: none;
}

/* Middle Section */


/* MAIN */

main{
    margin:0;
}

#aboutUs{
    margin:0;
    padding:0;
}


