$blueGali: #18BEF0;

* {
  box-sizing: border-box;
  transition-duration: 0.4s;
}

/** ***********    Containers   ***********/

section {
  
  width: 90%;
  
}

/* *************   inside Form ************ */
#formAgenda {
  margin: 2vw 0 0 2vw;
    width: 60%;
    border-radius: 8px;
    box-shadow: 4px 3px 4px 5px rgba(172, 179, 182, 0.3);
   
}

ul{
    display: flex;
    justify-content: space-between;
    
}

ul li {
    padding-right: 1.8vw;
    list-style: none;
}

input{
    
    color:  $blueGali;
    border-radius: 1.5vw;
    box-shadow: 4px 3px 4px 5px rgba(172, 179, 182, 0.3);
}

[placeholder="time"]{
    width:51%;
}

/*  input nom client */
[id="formGroupExampleInput2"]{
    width:55%;
    color: $blueGali;
}



textarea{
    width: 55%;
    border-radius: 20px;
    color: $blueGali;
}


    /* ****************  tale *********/

    #tableAgenda {
        margin: 2vw 0 1vw 2vw;
        width: 70%;
        text-align: center;
        
      }
      
      [type="submit"]{
          border: none;
          background-color: $blueGali;
          box-shadow: 2px 1px 3px 5px $blueGali;
      }

    tr{
    background-color: rgba(148, 230, 255, 0.2);
    border-bottom: 1px solid $blueGali;
    
}


