<!-- <p>
  rdv works!
</p>
<input type="text" (keyup)="onNameKeyUp($event)">
<button (click)="getProfile()">Get Profil</button>
<br>
<div *ngIf="found">
  <span> {{name}}'s age is {{age}}</span>
</div>



<button (click)="postProfile()">Post Profil</button>
<br>
-->
<section>
  <form id="formAgenda">
    <!-- ***********/////////  !!!   ajouter des input nom client ?!-->

    <h3>Take an Appointement Here</h3>
    <!-- ***********************************   begin  type Radio ***************************-->
    <h5>Choose your Hardresser : </h5>
    <div class="form-check">
      <ul>
        <li>
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
          <label class="form-check-label" for="exampleRadios1">
            Louis
          </label>
        </li>
        <li>
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            Marie
          </label>
        </li>
        <li>
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            Julie
          </label>
        </li>
      </ul>
    </div>

    <br>
    <!-- ********************************** end  DateTime ! ************-->

    <!-- ********************************** Begin  DateTime ! *********************************-->
    <h5>Choose your date and hour </h5>
    <div class="row">
      <div class="col">
        <input type="date" class="form-control" placeholder="time">
      </div>
      <div class="col">
        <input type="time" class="form-control" placeholder="time">
      </div>
    </div>

    <br>
    <h5> Unavailable Hours </h5>
    <!-- ********************************** end  DateTime ! *********-->

    <!-- ********************************** begin  Textarea ******************************-->
    <!-- <Span>{{coiffeur.unavailable}}</Span> -->
    <ul>
      <li>*** here display the unavailable hours of the coiffeur</li>
    </ul>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Description</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Color? Cut? or a cup of café/thé and a head massage ?"></textarea>
    </div>

    <!-- ********************************** end Textarea  *********-->

    <!-- ********************************** begin  input name client ******************************-->
    <div class="row">
      <div class="col">

        <label for="formGroupExampleInput2">Firstname</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Firstname">
      </div>
      <div class="col">
        <label for="formGroupExampleInput2">Lastname</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Lastname">
      </div>
    </div>
    <br>
    <!-- ********************************** end   input name client******************************-->


    <!-- ********************************** begin Submit button ******************************-->

    <button type="submit" (click)=getProfile() class="btn btn-primary">Create RDV</button>
    <!-- ********************************** end Submit button  ******************************-->
  </form>

  <!-- ********************************  Begin  Table  display RDV  ************************* -->
  <table id="tableAgenda">
    <tr>
      <th>Hairedresser</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Date</th>
      <th>Hour</th>
      <th>Description</th>
    </tr>
    <!-- <tr>
    <td>{{coifferu.name}}</td>
    <td>{{coiffeur.date}}</td>
    <td>{{coiffeur.heure}}</td>
    <td>{{coiffeur.Description}}</td>
  </tr> -->
    <tr>

      <td>Louis</td>
      <td>John</td>
      <td>Doe</td>
      <td>04 30 2018</td>
      <td>94</td>
      <td>Color</td>
    </tr>
    <tr>
      <td>Marie</td>
      <td>Jane</td>
      <td>Smith</td>
      <td>05 05 2018</td>
      <td>80</td>
      <td>shampoo + cut </td>
    </tr>
  </table>
  <!-- ********************************** end  DateTime ! *********-->
</section>
