<div id="slider">
    <!--maybe container-fluid-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <!--carousel-slide class makes the carousel work-->
                <!--data-ride jquery -->
                <div id="my-slider" class="carousel slide" data-ride="carousel">

                    <!--indicators dotnav -->



                    <!--wrapper for slides   -->
                    <div class="carousel-inner" role="listbox">
                        <!--slides here-->
                        <!-- first slide-->
                        <div class="item active">
                            <img src="../assets/Images/coiffeur1.png">

                            <!--the caption-->
                            <div class="carousel-caption">
                                <h4>Veronique</h4>
                            </div>
                        </div>

                    </div>
                    <!--second slide-->

                    <!--slides here-->
                    <!-- first slide-->
                    <div class="item">
                        <!--images must be placed in the asserts folder-->
                        <img src="../assets/Images/coiffeur2.jpg">
                        <!--the caption-->
                        <div class="carousel-caption">
                            <h4>Veronique</h4>
                        </div>
                    </div>


                    <!--third slide-->

                    <!--slides here-->
                    <!-- first slide-->
                    <div class="item">
                        <img src="../assets/Images/coiffeur3.png">

                        <!--the caption-->
                        <div class="carousel-caption">
                            <h4>Veronique</h4>
                        </div>
                    </div>







                    <!--left and right buttons = controls = next and prev buttons  -->






                </div>

            </div>
        </div>
    </div>

</div>