<nav>
    <div class="left">

        <a class="navbar-brand" href="#">Gali </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
    </button>
    </div>

    <div class="nav justify-content-end">
        <!--User Account-->
        <form class="form-inline my-2 my-lg-0">
            <!--User Username or Login here-->
            <!-- How to get rid of parentheses ????????-->
            <p>Welcome <span>({{ username }})</span></p>


            <button class="btn" type="submit" [value]="btnSubmit">Log Out</button>
        </form>
    </div>

</nav>