/** Body */

/* #18bef0 */

/*rgb(24, 190, 240)*/

* {
    box-sizing: border-box;
    transition-duration: 0.3s;
}

/** Navigation bar + Menu */

.navbar.navbar-1 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
    padding-bottom: 80px;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

[id="nav-home-tab"] {
    color: #18bef0;
}

[id="nav-profile-tab"] {
    color: #18bef0;
}

/** Nav */

.title {
    background-color: white;
    box-shadow: 0px 10px 5px 0px rgba(24, 190, 240, 0.1);
    text-align: center;
    position: -webkit-sticky;
    margin-right: 10%;
    margin-left: 10%;
    top: 0;
    position: sticky;
    margin-bottom: 15px;
    z-index: 1;
}

[class="form-check form-check-inline"] {
    margin-left: 50px;
}

[type="checkbox"] {
    color: #18bef0;
}

/*   ************************slide bar*/

#myCaroussell {
    width: 50%;
    margin: auto;
}

/** entre nav et photo */

span strong {
    color: #18bef0;
    font-size: 60px;
    padding-left: 100px;
}

span {
    color: #18bef0;
    text-shadow: 1px 1px 1px 1px;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.sousNavBar {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
}

/* INPUT Navbar*/

/** **********************Form***************** */

/***LOG IN FORM *******************/

/** Log In page =  username + password */

#usernameCheck,
#LogPasswordCheck {
    font-size: 15px;
    color: #19B5FE;
    display: none;
}

/***********************REGISTRATION FORM *****************/

/**  Registration page  = Firstname + Lastname + Username + Validation Form = display with jQuery */

#firstnameCheck,
#lastnameCheck,
#emailCheck {
    display: none;
    color: #19B5FE;
}

/** password validation message */

/** Disable the display : addClass jQuery */

#RegistrationpassCheck {
    display: none;
    margin: 5px;
}

#RegistrationpassCheck,
.pswd_valid {
    font-family: 'Bison-Bold';
    font-size: 15px;
    color: #19B5FE;
}

#letter,
#capital,
#number,
#length {
    list-style: none;
}

#RegistrationpassCheck ul {
    display: flex;
    flex-direction: column;
}

#RegistrationpassCheck h4 {
    text-align: left;
}

#RegistrationpassCheckul li {
    text-align: center;
}

/*** classes of the defined checked input */

.invalid {
    padding-left: 22px;
    line-height: 24px;
    color: #ec3f41;
}

.valid {
    padding-left: 22px;
    line-height: 24px;
    color: #3a7d34;
}

/*  Bouton*/

.navbar-toggler {
    border: none;
    padding: 0;
}

.form-control {
    background-color: rgba(24, 190, 240, 0.1);
}

[type="submit"] {
    border: 1px solid #18bef0;
    background-color: #18bef0;
}

.sousNavBar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0;
    margin-bottom: 5px;
}

.menu {
    list-style: none;
}

.sousNavBar ul li a {
    font-weight: solid;
    color: #18bef0;
}

/* Middle Section */

/* MAIN */

main {
    margin-left: 15%;
    margin-right: 12.5%;
}

#galiMilieu {
    color: rgba(24, 190, 240, 0.2)
}

.sectionMilieu div h3 {
    font-size: 8vw;
    text-align: center;
    margin: 8vw 0 8vw 0;
}

.cubeP {
    font-size: 1.5vw;
}

/* Beggining Big Cube Faire CSS identitque */

.bigCube-p-h3-1 {
    padding: 50px;
    text-align: right;
}

.bigCube-p-h3-2 {
    padding: 50px;
}

/*End Big cube Faire CSS identitque*/

.container-fluid {
    display: flex;
    border-radius: 8px;
    padding: 8px;
}

.container-fluid:hover {
    display: flex;
    box-shadow: 1px 1px 8px 15px rgba(24, 190, 240, 0.2);
    background-color: #f7faff;
    border-radius: 8px;
}

section {
    margin-top: 50px;
    display: flex;
    margin-left: 55px;
    margin-right: 50px;
}

.grandP h3 {
    padding: 10%;
    padding-bottom: 0;
}

.p-1 {
    padding: 1em;
}

.p-2 {
    padding: 2em;
}

.p-3 {
    padding: 3em;
}

.p-4 {
    padding: 4em;
}

.p-5 {
    padding: 5em;
}

.br {
    border: 1px solid red;
}

footer {
    background: linear-gradient(to bottom, #00c4ff 0%, #18bef0 100%);
    ;
    padding: 50px 0 50px 0px;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    margin: 50px 10% 80px 10%;
    padding-left: 50px;
    box-shadow: 1px 1px 8px 15px rgba(24, 190, 240, 0.2);
}
