div {
    border: #A9CCE3;
    /** test color background 
#D6EAF8
 #A9CCE3
 #FDEDEC
 #D6EAF8
 #F4F6F7
 #D7DBDD
 #F2F3F4
    */
    background-color: #F2F3F4;
    position: fixed;
    left: 200px;
    height: 100%;
    width: 100%;
}