<!-- NAVBAR pas de bootstrap hambourger pour le moment-->
<!-- Header + Menu -->
<article class="title">
    <header>
        <!--Import Bootstrap>-->
        <!-- Beginning Navbar-->
        <nav class="navbar navbar-light navbar-1 white">
            <!-- Navbar brand -->
            <!-- Titre Gali + slogan dans navBar -->
            <div class="galiTitle" >
                <a class="navbar-brand" href="#aboutUs">
                    <span>
                        <strong>Gali</strong>  
                    </span>
                </a>
            </div>
            <!-- Collapse button -->
            <div class="connexion">
            	<h3>Connexion</h3>
            	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15" aria-controls="navbarSupportedContent15"
                aria-expanded="false" aria-label="Toggle navigation">
                	<span class="navbar-toggler-icon"></span>
                </button>
            </div>
            
            <!-- sortie propre pour le css -->
           
            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent15">
                 <!-- Navigation bar-->
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
                            aria-selected="true">Log In</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"
                            aria-selected="false">Register</a>
                    </div>
                </nav>
                
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <!--LogIn Form -->
                        <form action="/login" method="POST">
                            <!--Username-->
                            <div class="form-group">
                                <label for="Username">Username or @email</label>
                                <input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter your Username or @email">
                            </div>
                            <!--password-->
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Password">
                            </div>
                            <!--submit-->
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
        
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <!--Register Form -->
                        <form action="/register" method="POST">
                            <!--firstname-->
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="firstname">Firstname</label>
                                    <input type="text" class="form-control" id="firstname" placeholder="Firstname">
                                </div>
                                <br/>
                                <!--gender-->
                                <div class="form-group col-md-6" id="radio">
                                    <div class="male">
                                        <input   type="radio" name="gender" value="male" checked>
                                        <label class="gender">Male</label>
                                    </div>
                                    <div class="female">
                                        <input   type="radio" name="gender" value="female"> 
                                        <label >Female</label>
                                    </div>
                                </div>
                                <!--lastname-->
                                <div class="form-group col-md-6" class="form-check form-check-inline">
                                    <label for="lastname">Lastname</label>
                                    <input type="text" class="form-control" id="lastname" placeholder="Lastname">
                                </div>
                                <!--email-->
                                <div class="form-group col-md-6">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" placeholder="Email">
                                </div>
                                <!--password-->
                                <div class="form-group col-md-6">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="passwordRegister" placeholder="Password">
                                </div>
                                <!--jquery class = display: none-->
                                <div id="pswd_info">
                                        <h4>Le mot de passe doit forcément contenir :</h4>
                                        <ul>
                                            <li id="letter" class="invalid">Au moins <strong>une lettre</strong></li>
                                            <li id="capital" class="invalid">Au moins <strong>une majuscule</strong></li>
                                            <li id="number" class="invalid">Au moins <strong>un chiffre</strong></li>
                                            <li id="length" class="invalid">Faire au moins <strong>8 caractères</strong></li>
                                        </ul>
                                    </div>
                                <!--confirm password-->
                                <div class="form-group col-md-6">
                                    <label for="password">Confirm Password</label>
                                    <input type="password" class="form-control" id8=8 "passwordRegisterConfirm" placeholder="Confirm Password">
                                </div>
                            </div>

                            <div class="form-group">
                                <!--check out-->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck">
                                    <label class="form-check-label" for="gridCheck">Check me out</label>
                                </div>
                            </div>
                            <!--sign in-->
                            <button type="submit" class="btn btn-primary">Sign in</button>
                       </form>
                    </div>
                </div>
        </nav>
        <article class="categories">
                <ul>
                    <li class="menu"><a  href="#aboutUs">About Us</a></li>
                    <li class="menu"><a  href="#galiServices">Our Services</a></li>
                    <li class="menu"><a  href="#contactUs">Contact Us</a></li>
                </ul>
        </article>    
        <!-- End Navbar-->
    </header>
</article> 