//fonts
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

* {
  
    background-color: #D6EAF8;
    font-family: 'Poiret One', cursive;
    font-weight:bold;
    color:#4D5656;
    padding:20px;
}

.formwidth {
    position:fixed;
    left:200px;
    width: 100%;

}

.fullwidth {
    width: 100%;
}

//input form 
.md {
    border: none;
    //change the color
    border-bottom: 2px solid #AED6F1;
}

.md:hover{
    background: #A9CCE3;

}


// radio buttons
.gender{
    width:25%;
    margin-right:80px;
    
    display:flex;
    justify-content: space-between;
}    